
res
**/__pycache__/
**/.ipynb_checkpoints/
homo/SAMap/

csMAHN_publish_init
csMAHN/**/*ipynb
utils/**/*ipynb

run/test_samll_sample.ipynb
cache/test_samll_sample/
cache/parameter_healthy_embryo.csv
cache/healthy/
cache/disease/
cache/data_process/**/.*
cache/data_process/**/*rds
cache/data_process/**/*h5ad
cache/data_process/Seurat_HCL_MCA/Marker_from_HCL_MCA
cache/data_process/Mtb_mh_GSE167232/GSE167232_bal_integrated*
cache/data_process/Mtb_mh_GSE167232/GSE167232_mtb_integrated*
cache/data_process/Mtb_mh_GSE167232/GSE167232_mtb_transcriptome_matrix.tsv
cache/data_process/Mtb_mh_GSE167232/markers

cache/data_process/**/*_RAW
cache/data_process/**/*series_matrix.txt*
cache/data_process/Seurat_HCL_MCA/Singler/
cache/data_process/Seurat_HCL_MCA/Markers_HCL*
cache/data_process/Seurat_HCL_MCA/Markers_MCA*
cache/data_process/Seurat_HCL_MCA/obs_HCL*
cache/data_process/Seurat_HCL_MCA/obs_MCA*
cache/data_process/Seurat_HCL_MCA/ElbowPlot_*png
cache/data_process/Seurat_HCL_MCA/harmony_*png
cache/data_process/LC_GSE127465/GSE127465_*
cache/data_process/LC_GSE127465/human*
cache/data_process/LC_GSE127465/mouse*
cache/data_process/RA_AMP-Phase-1/SDY998
cache/data_process/m_kidneys_GSE107585/GSE107585_Mouse_kidney_single_cell_datamatrix.txt.gz
cache/data_process/Mtb_macaque_SCP642/all_cells_obs.csv
cache/data_process/Mtb_macaque_SCP642/formatted_metadata.csv
cache/data_process/RA_AMP-Phase-1/RA_AMP-Phase-1_count/
cache/data_process/RA_AMP-Phase-1/SCP279
cache/data_process/RA_GSE145286/RA_GSE145286_mouse
cache/data_process/RA_GSE145286/SCP469
cache/data_process/Retina/Macosko/
cache/data_process/Retina/Menon_seqwell/
cache/data_process/Retina/chick_P10
cache/data_process/Retina/chicken_P10
cache/data_process/Retina/zebrafish_Adult
cache/data_process/Retina/Retina_h/GSE*gz
cache/data_process/Retina/Retina_m/GSE*gz
cache/data_process/Retina/Retina_z_c/Single-cell*
cache/data_process/SLE_GSE255441/fig/
cache/data_process/SLE_GSE255441/*markers*csv
cache/data_process/SLE_GSE255441/obs*csv
cache/data_process/SLE_SDY997/fig
cache/data_process/SLE_SDY997/SDY997
cache/data_process/SLE_SDY997/cluster.coords*
cache/data_process/SLE_SDY997/meta
cache/data_process/SLE_SDY997/*gz
cache/data_process/SLE_SDY997/markers*csv
cache/data_process/SLE_SDY997/obs*csv
cache/data_process/SLE_SDY997/NIHMS1526529-supplement-Supplementary_Table_1.xlsx
cache/data_process/SLE_SDY997/t_SNE_coordinates_SLE-Broad.json
cache/data_process/m_kidneys_GSE107585/fig
cache/data_process/m_kidneys_GSE107585/markers*csv
cache/data_process/m_kidneys_GSE107585/obs*csv


plot/_pre
plot/data
plot/pdf/*svg
plot/pdf/healthy_supp_item_*.pdf
plot/csMAHN_custom.ipynb
plot/init_plot.ipynb
plot/pdf_text_zh*

homo/*pig*txt


gitignore
func_r_map_seurat.ipynb
nbconvert_ipynb.sh


func.ipynb
README.ipynb
csMAHN_flow.ipynb